<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Database stanze hotel</title>
</head>
<body>

  <div id="root">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Numero stanza</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="stanza in stanze">
          <td>{{stanza.id}}</td>
          <td><button @click="selezioneStanza(stanza.id)">{{stanza.room_number}}</button></td>
        </tr>
      </tbody>
    </table>

    <div v-if="stanza">
      <div v-for="obj in stanza">
        <h2>Id: {{obj.id}}</h2>
      </div>
      <div v-for="obj in stanza">
        <h2>Numero stanza: {{obj.room_number}}</h2>
      </div>
      <div v-for="obj in stanza">
        <h2>Piano: {{obj.floor}}</h2>
      </div>
      <div v-for="obj in stanza">
        <h2>Letti: {{obj.beds}}</h2>
      </div>
    </div>

  </div>

</body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="main.js" charset="utf-8"></script>

</html>
